<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FacebookDataExtractor(FDE)</title>
  <script
  src="//code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <script src="/js/main.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <h1 class="site-title">FDE</h1>
  </header>
  <%= styled_flash %>
  <div class="control-panel">
    <%= yield %>
  </div>
</body>
</html>
