<br>
<br>
<br>

　以下のログインボタンをクリックしてください。
  <script>
    $(document).on('click', '.login', function(){
      $(this).attr("#");
      $(this).html("処理中です...");
    });
  </script>
  <a href="/raw-login" class="login">Login</a>
